<!DOCTYPE html>
<html>
<head>
<title> Restaurant Advisor </title>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>

<body>

<div id="nav1">
	<h1><a href="{{url_for('main')}}">Restaurant Advisor</a></h1>
	<ul>
		<li id="active"><a href="{{url_for('main')}}">Home</a></li>
		<li><a href="{{url_for('restaurants')}}">Restaurants</a></li>
		<!--<li><a href="contact.html">Contact</a></li>-->
		<li><a href="{{url_for('about')}}">About</a></li>
		<li><a href="{{url_for('contact')}}">Contact</a></li>
	</ul>
</div>












<!-- "h2 This website aims to help people to find the most suitble restaurant according to their needs." -->


<div id="main-content">

<br>
<h1>Welcome To Restaurant Advisor </h1>

<h3>The place where you find the best restaurants in town</h3>

<h3>Check out the best sushi restaurant of the month?</h3>



<h1 id="demo"  style="display:none">Sushi Rehavia!</h1>

<button type="button" onclick="document.getElementById('demo').style.display='block'">Check Out!</button>


</div>
s

</body>
</html>
