<!DOCTYPE html>
<html>
<head>
<title> Restaurant Advisor </title>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="main-content-restaurants">

<!-- "h2 This website aims to help people to find the most suitble restaurant according to their needs." -->

<div id="nav1">
	<h1><a href="{{url_for('main')}}">Restaurant Advisor</a></h1>
	<ul>
		<li><a href="{{url_for('main')}}">Home</a></li>
		<li id="active"><a href="{{url_for('restaurants')}}">Restaurants</a></li>
		<!--<li><a href="contact.html">Contact</a></li>-->
		<li><a href="{{url_for('about')}}">About</a></li>
		<li><a href="{{url_for('contact')}}">Contact</a></li>
	</ul>
</div>
<div>
<div class="container-fluid">
<div class="row buffer">
<div class="col-md-12 title">
<center>Top 5 restaurants of the week:</center>
</div>
</div>

<div class="row buffer">
<div class="col-md-4 restaurant">
<center>
<h1>Cielo</h1>
<img src="{{url_for('static', filename='pasta1.jpg')}}" class="img-responsive">
<br>
<p>Cielo restaurant in Jerusalem has been owned and run for the past 14 years by Chef Adi Cohen. The menu at Cielo is Italian and includes ,among others, meat, fish seafood and pasta in its menu. The menu at Cielo is rich, precise and varied as each day ten special dishes are prepared only for that same day. The restaurant is designed in a clean and meticulous manner. The background music is appropriate to the name and character of the restaurant; it is classical and pleasant and gives the loyal customers a peaceful and relaxed atmosphere.
 
</p>
<h3>Check out the rating of the restaurant</h3>



<h1 id="rate1"  style="display:none">9/10</h1>

<button type="button" onclick="document.getElementById('rate1').style.display='block'">Check Out!</button>

</center>
</div>

<div class="col-md-4">
<center>
<h1>Machneyuda</h1>
<img src="{{url_for('static', filename='fishsalad1.jpg')}}" class="img-responsive">
<br>
<br>
<p>bustling and lively atmosphere and food inspired by the Machane Yehuda Market, from kebab with tahini-gurt, pesto, harissa and pickled lemon to “Uri’s Mum’s Basbousa” cake with tahini ice-cream, whipped cream, fruit and date honey. And then, of course, one unforgettable polenta.  This restaurant was the inspiration for two of the most-talked about restaurants in London, The Palomar and The Barbary. Both are known for bringing this ‘Machneyuda’ genre of energetic Mediterranean and Middle Eastern cuisine to the city.
</p>
<h3>Check out the rating of the restaurnt</h3>



<h1 id="rate2"  style="display:none">8/10</h1>

<button type="button" onclick="document.getElementById('rate2').style.display='block'">Check Out!</button>

</center>
</div>

<div class="col-md-4">
<center>
<h1>Azura</h1>
<img src="{{url_for('static', filename='salad.jpg')}}" class="img-responsive">
<br>
<p>If you are looking for traditional Middle Eastern food, though, the best of the bunch may be Azura — a family-run institution in the Iraqi market famous for its Turkish-inspired delicacies that are slow-cooked to perfection atop kerosene burners. From old-school vegetable stalls, bakeries and boutique wine and cheese bars to fish and chip or falafel stands and sit-down restaurants of every style and price range, the now gentrified market’s dozens of eateries present the widest assortment of culinary options in the city.</p>
<h3>Check out the rating of the restaurant</h3>



<h1 id="rate3"  style="display:none">8/10</h1>

<button type="button" onclick="document.getElementById('rate3').style.display='block'">Check Out!</button>

</center>
</div>
</div>

<div class="row buffer">
<div class="col-md-6">
<center>
<h1>Chakra</h1>
<img src="{{url_for('static', filename='europeanfood.jpg')}}" class="img-responsive6">
<br>
<p>Chakra has remained one of the leading restaurants in the capital, and one of the most loved dinner places there. Through dishes like beetroot tortellini in Parmesan butter, kebabs with tahini and fire-roasted vegetables, or gnocchi with lamb and beef-butter sauce, the kitchen reaches over the walls of Jerusalem into the Mediterranean Sea all the way to classic Italy.
</p>
<h3>Check out the rating of the restaurant</h3>



<h1 id="rate4"  style="display:none">7/10</h1>

<button type="button" onclick="document.getElementById('rate4').style.display='block'">Check Out!</button>

</center>
</div>

<div class="col-md-6">
<center>
<h1>Piccolino</h1>
<img src="{{url_for('static', filename='pizza1.jpg')}}" class="img-responsive6">
<br>
<p>Piccolino restaurant offers a delicious dairy Italian menu. Music is the theme of the menu. Start your morning with Buongiorno breakfast. Choose from the Do Re Mi Shakshuka, the Pavaroti full breakfast or Tarantella breakfast. For the Overture, start with a choice of antipasti including Piccolino's exceptional boutique cheeses, roasted vegetables or a Mezze of pickled sardines with lemon. 
</p>
<h3>Check out the rating of the restaurant</h3>



<h1 id="rate5"  style="display:none">8/10</h1>

<button type="button"  onclick="document.getElementById('rate5').style.display='block'">Check Out!</button>

</center>
</div>
</div>
</div>
</div>



</body>
</html>
